h1{
    font-size: 50px;
    text-shadow: 0cqmax;
    text-align: center;
    text-decoration-color: rgb(242, 127, 255);
    background-color: rgb(251, 127, 255);
}
body{
     background-size: contain;
    opacity: -1px;
    background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/sites/110391/images/LRk9DcTaTxqcQfHuWdnZ_file.jpg);
    color: black;
    align-items: center;
    
}
header{
    background-color: rgb(242, 165, 64);
   font-size: xx-large;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;
    word-spacing: 100px;
    font-size: xx-large;
    font-family: 'Comic Sans MS', Times, serif;
}

